<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="author" content="grupo 5">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Energías Renovables En Colombia</title>
    <link rel="stylesheet" href="../static/css/styles.css">
    <link rel="icon" href="../static/assets/images/Favicon.png">

    <!--fuentes  (no borrar)-->
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>

<body>
    <!--contenedor principal-->

    <div>
        <header>
            <!-- nav principal -->

            <div>
                <nav class="navbar">
                    <div class="logo">
                        <img src="../static/assets/images/Favicon.png" alt="Logo empresa">
                    </div>

                    <ul class="nav-links">
                        <li><a href="index.html">Inicio</a></li>
                        <li><a href="tipos-de-energia.html">Tipos de Energía</a></li>
                        <li><a href="dashboard.html">Dashboard</a></li>
                        <li><a href="calcula-consumo.html">Calcular Energia</a></li>
                        <li><a href="tabla-energia-global.html">Histórico energético</a></li>
                    </ul>

                    <div class="icons">
                        <a href=""><img src="../static/assets/images/search-icon2.png" alt=""></a>
                        <a href=""><img src="../static/assets/images/energy-icon1.png" alt=""></a>
                    </div>

                </nav>

                <!-- Slider de imagenes del home -->

               
            </div>
        </header>


        <!--conenido main -->
        <main>
            <section class="calculadora-card-container">
                <div class="calculadora-card">
                    <h1>Calculadora de Energía Renovable</h1>
                    <form id="formulario-energia">
                        <label for="consumo">Ingrese el consumo eléctrico total anual en kWh:</label>
                        <input type="number" id="consumo" name="consumo" placeholder="Consumo eléctrico total (kWh)" required>
                        <button type="submit">Calcular</button>
                    </form>
                
                    <div id="resultados" class="resultados">
                        <h2>Resultados</h2>
                        <p id="capacidad">¿Cuánta energía renovable se produjo en Colombia en el 2021?</p>
                        <div id="produccion" class="resultado-tarjeta">
                            --  <!-- Aquí se pondrá el resultado dinámicamente -->
                        </div>
                        <p id="consumo-renovable">Teniendo en cuenta la producción total de energía renovable en Colombia en 2021, ¿qué porcentaje de esa energía consumiste tú?</p>
                        <div id="porcentaje" class="resultado-tarjeta">
                            --  <!-- Aquí se pondrá el resultado dinámicamente -->
                        </div>
                    </div>
                </div>
        
                <!-- Video anclado en la columna de la derecha -->
                <div class="video-container">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/O_ra9TdiBxc" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                </div>                              
            </section>
        </main>
        

        <!-- Footer -->
        <footer>
            <div class="footer-content">
                <div class="footer-left">
                    <a href="/pagina-energias-renovables-main/pages/index.html">
                        <img src="../static/assets/images/Favicon.png" alt="Logo" class="footer-logo" />
                    </a>
                </div>
        
                <div class="footer-links">
                    <div class="footer-column">
                        <h4>Contenido</h4>
                        <ul>
                            <li><a href="../templates/index.html">Inicio</a></li>
                            <li><a href="../templates/tipos-de-energia.html">Tipos de energía</a></li>
                            <li><a href="../templates/dashboard.html">Dashboard</a></li>
                            <li><a href="../templates/calcula-consumo.html">Calculadora de energía</a></li>
                        </ul>
                    </div>
                    <div class="footer-column">
                        <h4>Creadores:</h4>
                        <ul>
                            <li>Sara Álvarez</li>
                            <li>Laura Valencia</li>
                            <li>Laura de la Hoz</li>
                            <li>Esteban Carvajal</li>
                        </ul>
                    </div>
                    <div class="footer-column">
                        <h4>Contáctanos:</h4>
                        <ul style="list-style: none; padding: 0;">
                            <li class="tooltip_footer">
                                Correos electrónicos
                                <span class="tooltip_footer-text">
                                    Esteban: esteban@email.com<br>
                                    Laura: laura@email.com<br>
                                    Laura D L H: laura.dlh@email.com<br>
                                    Sara: sara@email.com
                                </span>
                            </li>
                            <li class="tooltip_footer">
                                Número de contacto
                                <span class="tooltip_footer-text">
                                    Esteban: +57 300 123 4567<br>
                                    Laura: +57 301 234 5678<br>
                                    Laura de la H: +57 302 345 6789<br>
                                    Sara: +57 303 456 7890
                                </span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        
            <div class="footer-bottom">
                <div class="footer-text">
                    <p>2025, Company. All Rights Reserved.<br />
                        Este sitio web ha sido programado por estudiantes del programa Talento Tech, en la misión de cumplir 
                        con su proyecto final, sin fines comerciales.
                    </p>
                </div>
        
                <div class="footer-icons">
                    <a href="https://www.talentotech.gov.co/portal/#inicio" target="_blank">
                        <img src="../static/assets/icons/Talento-Tech-icon.png" alt="TalentoTech" />
                    </a>
                    <a href="https://youtu.be/wE0ovmvgCLI" target="_blank">
                        <img src="../static/assets/icons/youtube-icon1.png" alt="YouTube" />
                    </a>
                </div>
            </div>
        </footer>

        <!-- Fin del footer -->

    </div>
    <!-- Al final del body -->
     <!--<script src="{{ url_for('static', filename='js/funcionesCalculadora.js') }}"></script>-->
    <script type="module" src="../static/js/funcionesCalculadora.js"></script>

</body>

</html>