<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="author" content="grupo 5">
    <title>Energías Renovables En Colombia</title>
    <link rel="stylesheet" href="../static/css/styles.css">
    <link rel="icon" href="../static/assets/images/Favicon.png">
</head>

<body>
    <!--contenedor principal-->

    <div>
        <header>
            <!-- nav principal -->

            <div>
                <nav class="navbar">
                    <div class="logo">
                        <img src="../static/assets/images/Favicon.png" alt="Logo empresa">
                    </div>

                    <ul class="nav-links">
                        <li><a href="index.html">Inicio</a></li>
                        <li><a href="tipos-de-energia.html">Tipos de Energía</a></li>
                        <li><a href="dashboard.html">Dashboard</a></li>
                        <li><a href="calcula-consumo.html">Calcular Energia</a></li>
                    </ul>

                    <div class="icons">
                        <a href=""><img src="../static/assets/images/search-icon2.png" alt=""></a>
                        <a href=""><img src="../static/assets/images/energy-icon1.png" alt=""></a>
                    </div>

                </nav>

                <!-- Slider de imagenes del home -->

               
            </div>
        </header>


        <!--conenido main -->
        <main>
            <section class="calculadora-card-container">
                <div class="calculadora-card">
                    <h1>Calculadora de Energía Renovable</h1>
                    <form id="formulario-energia">
                        <label for="consumo">Ingrese el consumo eléctrico total anual en kWh:</label>
                        <input type="number" id="consumo" name="consumo" placeholder="Consumo eléctrico total (kWh)" required>
                        <button type="submit">Calcular</button>
                    </form>
                
                    <div id="resultados" class="resultados">
                        <h2>Resultados</h2>
                        <p id="capacidad">¿Cuánta energía renovable se produjo en Colombia en el 2021?</p>
                        <div id="produccion" class="resultado-tarjeta">
                            --  <!-- Aquí se pondrá el resultado dinámicamente -->
                        </div>
                        <p id="consumo-renovable">Teniendo en cuenta la producción total de energía renovable en Colombia en 2021, ¿qué porcentaje de esa energía consumiste tú?</p>
                        <div id="porcentaje" class="resultado-tarjeta">
                            --  <!-- Aquí se pondrá el resultado dinámicamente -->
                        </div>
                    </div>
                </div>
        
                <!-- Video anclado en la columna de la derecha -->
                <div class="video-container">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/O_ra9TdiBxc" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                </div>                              
            </section>
        </main>
        

        <!-- Footer -->
        <footer>
            <div class="footer-content">
                <div class="footer-left">
                    <img src="../static/assets/images/Favicon.png" alt="Logo" class="footer-logo" />
                </div>

                <div class="footer-links">
                    <div class="footer-column">
                        <h4>home</h4>
                        <ul>
                            <li>energies</li>
                            <li>Industry</li>
                        </ul>
                    </div>
                    <div class="footer-column">
                        <h4>contact</h4>
                        <ul>
                            <li>email</li>
                            <li>phone</li>
                        </ul>
                    </div>
                    <div class="footer-column">
                        <h4>preguntas frecuentes</h4>
                        <ul>
                            <li>privacy</li>
                            <li>Terms</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="footer-bottom">
                <div class="footer-text">
                    <p>2025, Company. All Rights Reserved.<br />
                        The Website and the logo are trademarks of our Company, Inc. Third party trademarks are the
                        property of their respective owners.</p>
                </div>

                <div class="footer-icons">
                    <img src="../static/assets/icons/facebok-icon1.png" alt="Facebook" />
                    <img src="../static/assets/icons/linkedlin-icon1.png" alt="LinkedIn" />
                    <img src="../static/assets/icons/youtube-icon1.png" alt="YouTube" />
                    <img src="../static/assets/icons/instagram-icon1.png" alt="Instagram" />
                </div>
            </div>

        </footer>

        <!-- Fin del footer -->

    </div>
    <!-- Al final del body -->
    <script src="{{ url_for('static', filename='js/funcionesCalculadora.js') }}"></script>

</body>

</html>