<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="author" content="grupo 5">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Energías Renovables En Colombia</title>
    <link rel="stylesheet" href="../static/css/styles.css">
    <link rel="icon" href="../assets/images/Favicon.png">

    <!--fuentes  (no borrar)-->
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>

<body>
    <!--contenedor principal-->
    <div>
            <header>
                <!-- nav principal -->
                <div class="wrap-nav">
                    <nav class="navbar">
                        <div class="logo">
                            <img src="../static/assets/images/Favicon.png" alt="Logo empresa">
                        </div>
        
                        <ul class="nav-links">
                            <li><a href="index.html">Inicio</a></li>
                            <li><a href="tipos-de-energia.html">Tipos de Energía</a></li>
                            <li><a href="dashboard.html">Dashboard</a></li>
                            <li><a href="calcula-consumo.html">Calcular Energia</a></li>
                        </ul>
        
                        <div class="icons">
                            <a href=""><img src="../static/assets/images/search-icon2.png" alt=""></a>
                            <a href=""><img src="../static/assets/images/energy-icon1.png" alt=""></a>
                        </div>
        
                    </nav>
                    
                </div>
            </header>

                    

        <!--conenido main -->
        <main>
            <section class="hero">
                <div class="overlay">
                    <h2>Visor de Energía Sostenible</h2>
                    <p>Explora cómo las energías renovables están transformando el planeta y construyendo un futuro más limpio y sostenible.</p>
                    <button class="slide-button">Explorar datos</button>
                    
                </div>
            </section>

            <div class="seccion-energia">
                <img src="../static/assets/images/energias-image5.png" alt="Planta solar vista aérea" class="imagen-energia">
              
                <div class="contenido-energia">
                  <h2>Producción de Energía Renovable</h2>
              
                  <div class="detalle-energia">
                    <h4>Energía Eólica</h4>
                    <p>Aprovechamos la fuerza del viento para generar energía limpia y constante. Descubre cuánto se ha producido con turbinas.</p>
                  </div>
              
                  <div class="detalle-energia">
                    <h4>Energía Solar</h4>
                    <p>La luz del sol se convierte en electricidad para un futuro más brillante. Mira cuánta energía se ha generado con paneles solares.</p>
                  </div>

                  <div class="detalle-energia">
                    <h4>Energía Hidroeléctrica</h4>
                    <p>Utilizamos la fuerza del agua en movimiento para generar electricidad de manera eficiente y sostenible.</p>
                  </div>

                  <button class="slide-button">Descubre</button>
                </div>
            </div>

            <section class="titulo-graficas">
                <h2>Producción de Energía Renovable por Fuente</h2> 
            </section>

            <div class="charts-row">
                <div class="chart">
                  <canvas id="myChart"></canvas>
                </div>
                <div class="chart">
                  <canvas id="myChart2"></canvas>
                </div>
                <div class="chart">
                    <canvas id="myChart3"></canvas>
                  </div>
              </div>
        </main>


        <div class="seccion-energia">
            <img src="../static/assets/images/earth-image1.png" alt="Planta solar vista aérea" class="imagen-energia">
          
            <div class="contenido-energia">
              <h2>Otras producciones de Energía Renovable</h2>
          
              <div class="detalle-energia">
                <h4>Producción de Biocombustibles</h4>
                <p>Generamos energía a partir de recursos orgánicos renovables, contribuyendo a una alternativa limpia a los combustibles fósiles.</p>
              </div>
          
              <div class="detalle-energia">
                <h4>Capacidad Geotérmica Instalada</h4>
                <p>Aprovechamos el calor de la Tierra para generar energía de forma sostenible y continua. Descubre nuestra capacidad instalada en este sector.</p>
              </div>
            </div>
        </div>

        <div class="charts-row">
            <div class="chart">
              <canvas id="myChart4"></canvas>
            </div>
            <div class="chart">
              <canvas id="myChart5"></canvas>
            </div>
          </div>


          <div class="seccion-energia">
            <img src="../static/assets/images/hydroenergy2.png" alt="Planta solar vista aérea" class="imagen-energia">
          
            <div class="contenido-energia">
              <h2>Participación de las Energías Renovables en el Consumo Eléctrico</h2>
          
              <div class="detalle-energia">
                <h4>Energías Renovables en el Consumo Eléctrico</h4>
                <p>Muestra la proporción total de electricidad generada a partir de fuentes renovables en comparación con otras fuentes.</p>
              </div>
          
              <div class="detalle-energia">
                <h4>Participación de la Energía Eólica</h4>
                <p>Indica qué porcentaje de la electricidad total proviene del aprovechamiento del viento.</p>
              </div>

              <div class="detalle-energia">
                <h4>Participación de la Energía Solar</h4>
                <p>Refleja la contribución de la energía solar al consumo eléctrico total.</p>
              </div>

              <div class="detalle-energia">
                <h4>Participación de la Energía Hidroeléctrica</h4>
                <p>Presenta el porcentaje de electricidad generado mediante la fuerza del agua.</p>
              </div>
            </div>
        </div>

        <section class="titulo-graficas">
            <h2>Participación de Energías Renovables</h2> 
        </section>

        <div class="charts-row-energy">
            <div class="chart-nut">
                <canvas id="myChart6"></canvas>
            </div>
            <div class="chart-nut">
                <canvas id="myChart7"></canvas>
            </div>
            <div class="chart-nut">
                <canvas id="myChart8"></canvas>
            </div>
            <div class="chart-nut">
                <canvas id="myChart9"></canvas>
            </div>
        </div>


        <div class="seccion-energia">
            <img src="../static/assets/images/geothermal-image.png" alt="Planta solar vista aérea" class="imagen-energia">
          
            <div class="contenido-energia">
              <h2>Tendencia en la Capacidad Instalada</h2>
          
              <div class="detalle-energia">
                <h4>Capacidad Instalada de Energía Eólica</h4>
                <p>Evolución histórica de la capacidad acumulada para generar energía con turbinas eólicas, medida en gigavatios.</p>
              </div>
          
              <div class="detalle-energia">
                <h4> Capacidad Instalada de Energía Solar</h4>
                <p>Muestra el crecimiento de la capacidad instalada de paneles solares fotovoltaicos en los últimos años.</p>
              </div>
              </div>
            </div>
        </div>

        <div class="charts-row">
            <div class="chart">
              <canvas id="myChart11"></canvas>
            </div>
            <div class="chart">
              <canvas id="myChart12"></canvas>
            </div>
          </div>

        <div class="seccion-energia">
            <img src="../static/assets/images/colombia-energy1.png" alt="Planta solar vista aérea" class="imagen-energia">
          
            <div class="contenido-energia">
              <h2> Consumo de Energía: Renovable vs. Convencional</h2>
          
              <div class="detalle-energia">
                <h4>Analiza cómo ha cambiado el consumo de energías limpias frente a las fuentes tradicionales.</h4>
                <p>Este gráfico compara el crecimiento del consumo de energía renovable en Colombia con el de las fuentes convencionales a lo largo del tiempo, destacando la transición hacia modelos energéticos más sostenibles.</p>
              </div>
            </div>
        </div>

        <div class="charts-row">
            <div class="chart">
              <canvas id="myChart13"></canvas>
            </div>
          </div>

          <!-- mas informacion -->

        <section class="conoce-mas">
            <div class="conoce-mas-contenido">
              <h2>Conoce más</h2>
              <div class="botones-conoce">
                <button class="btn-naranja">Suscribirse</button>
                <button class="btn-gris">Más información</button>
              </div>
            </div>
        </section>

    
        <!-- Footer -->
        <footer>
            <div class="footer-content">
                <div class="footer-left">
                    <img src="../static/assets/images/Favicon.png" alt="Logo" class="footer-logo" />
                </div>
    
                <div class="footer-links">
                    <div class="footer-column">
                        <h4>home</h4>
                        <ul>
                            <li>energies</li>
                            <li>Industry</li>
                        </ul>
                    </div>
                    <div class="footer-column">
                        <h4>contact</h4>
                        <ul>
                            <li>email</li>
                            <li>phone</li>
                        </ul>
                    </div>
                    <div class="footer-column">
                        <h4>preguntas frecuentes</h4>
                        <ul>
                            <li>privacy</li>
                            <li>Terms</li>
                        </ul>
                    </div>
                </div>
            </div>
    
            <div class="footer-bottom">
                <div class="footer-text">
                    <p>2025, Company. All Rights Reserved.<br />
                        The Website and the logo are trademarks of our Company, Inc. Third party trademarks are the
                        property of their respective owners.</p>
                </div>
    
                <div class="footer-icons">
                    <img src="../static/assets/icons/facebok-icon1.png" alt="Facebook" />
                    <img src="../static/assets/icons/linkedlin-icon1.png" alt="LinkedIn" />
                    <img src="../static/assets/icons/youtube-icon1.png" alt="YouTube" />
                    <img src="../static/assets/icons/instagram-icon1.png" alt="Instagram" />
                </div>
            </div>
    
        </footer>
    
        <!-- Fin del footer -->
        

    </div>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <script src="../static/js/funcionesGraficas.js"></script>

</body>

</html>