<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Energías Renovables En Colombia</title>
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
    <header>
        <nav class="navbar">
            <div class="logo">
                <i class="fas fa-bolt"></i>
              </div>
            <ul class="nav-links">
                <li><a href="#">Inicio</a></li>
                <li><a href="#">Tipos de Energía</a></li>
                <li><a href="#">Departamentos</a></li>
                <li><a href="#">Calcula tu Consumo Eléctrico</a></li>
              </ul>
              <div class="icons">
                <i class="fas fa-search"></i>
                <i class="fas fa-comment-dots"></i>
              </div>
        </nav>
    </header>
    <main>
        <section class="hero">
            <div class="overlay">
                <h1>Datos Históricos Globales de Energía Renovable (1965–2022)</h1>
                <p class="general paragraph">
                </p>
                <p class="general paragraph" id="resultadoConsumoHidroenergia">
                    1. Cargando consumo hidroenergia...
                </p>
                <p class="general paragraph" id="resultadoProduccionBioenergia">
                    2. Cargando produccion bioenergia...
                </p>
                <p class="general paragraph" id="resultadoCapacidadEolicaInstalada">
                    3. Cargando Capacidad Eolica instalada...
                </p>
                <p class="general paragraph" id="resultadoCapacidadGeotermicaInstalada">
                    4. Cargando Capacidad geotermica instalada...
                </p>
                <p class="general paragraph" id="resultadoCapacidadSolarPvInstalada">
                   5. Cargando Capacidad solar PV instalara...
                </p>
                <p class="general paragraph" id="resultadoCConsumoEnergiaRenovableModerna">
                    6. Cargando consumo de energia renovable moderna...
                 </p>
                 <p class="general paragraph" id="resultadoParticipacionElectricidadHidro">
                    7. Cargando participación de la electricidad generada por hidroenergía...
                </p>
                <p class="general paragraph" id="resultadoParticipacionElectricidadRenovable">
                    8. Cargando participación de la electricidad generada por energías renovables...
                </p>
                <p class="general paragraph" id="resultadoParticipacionElectricidadSolar">
                    9. Cargando participación de la electricidad generada por energía solar...
                </p>
                <p class="general paragraph" id="resultadoParticipacionElectricidadEolica">
                    10. Cargando participación de la electricidad generada por energía eólica...
                </p>
                <p class="general paragraph" id="resultadoConsumoEnergiaSolar">
                    11. Cargando consumo de energía solar...
                </p>
                <p class="general paragraph" id="resultadoGeneracionEnergiaEolica">
                    12. Cargando generación de energía eólica...
                </p>
              
                <script type="module" src="../js/funcionesAPIEnergias.js" ></script>
                
                <button onclick="handleClick()">Comenzar</button>
            </div>
        </section>
      


    </main>
    <footer>

    </footer>
    <script src="../js/script.js"></script> 

</body>
</html>