<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="author" content="grupo 5">
    <title>Energías Renovables En Colombia</title>
    <link rel="stylesheet" href="../static/css/styles.css">
    <link rel="icon" href="../static/assets/images/Favicon.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">

    <!--fuentes  (no borrar)-->
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>

<body>
    <!--contenedor principal-->
    <div class="container">
        <header>
            <!-- nav principal -->
            <div class="wrap-nav">
                <nav class="navbar">
                    <div class="logo">
                        <img src="../static/assets/images/Favicon.png" alt="Logo empresa">
                    </div>

                    <ul class="nav-links">
                        <li><a href="index.html">Inicio</a></li>
                        <li><a href="tipos-de-energia.html">Tipos de Energía</a></li>
                        <li><a href="dashboard.html">Dashboard</a></li>
                        <li><a href="calcula-consumo.html">Calcular Energia</a></li>
                        <li><a href="tabla-energia-global.html">Histórico energético</a></li>
                    </ul>

                    <div class="icons">
                        <a href=""><img src="../static/assets/images/search-icon2.png" alt=""></a>
                        <a href=""><img src="../static/assets/images/energy-icon1.png" alt=""></a>
                    </div>

                </nav>

                <!-- Slider de imagenes del home -->

                <div class="slider-container">
                    <div class="slide slider-img">
                        <ul>
                            <li><img src="../static/assets/images/historico-slider.png" alt=""></li>
                        </ul>
                    </div>

                    <div class="slide-text">
                        <h1>Histórico de datos</h1>
                        <p class="texto-slider-historico">Con el paso del tiempo, la humanidad ha avanzado en el uso de energías renovables, como muestran las cifras al comparar 1965 con 2021. Este progreso es fruto de esfuerzos colectivos e inversiones. Aunque aún falta camino, los datos confirman que el cambio es posible. El gran reto ahora es lograr que toda la energía que consumimos provenga de fuentes limpias, un objetivo clave para un futuro sostenible.</p>
                        <button class="slide-button">
                            <a href="#contenedor-historico" class="boton-descubre-historico">Descubre Más</a>
                        </button>
                    </div>
                </div>
            </div>
        </header>
        <main>
            <section id="contenedor-historico"> 
                <h2>Explora la historia de la energía limpia por país o continente. Descubre cómo ha evolucionado su producción de energía limpia desde 1965 hasta 2021.</h2>
                <select id="selectorEntity">
                    <option value="" class="option-historico">Cargando</option>
                </select>
                    <div class="padre-scroll">
                        <div id="cuadroDatosEntity"></div>
                        <div class="table-section-bottom">
                            <h5>Para mas información visita: 
                                <a href = "https://www.kaggle.com/datasets/belayethossainds/renewable-energy-world-wide-19652022?resource=download&select=03+modern-renewable-prod.csv" target="_blank"> 
                                    Kaggle <img src="../static/assets/icons/informacion-data-icon.png" alt="Facebook" />
                                </a>
                            </h5>
                        </div>
                    </div>    
            </section>
        </main>

        <!-- Footer -->
         <!-- Footer -->
         <footer>
            <div class="footer-content">
                <div class="footer-left">
                    <a href="/pagina-energias-renovables-main/pages/index.html">
                        <img src="../static/assets/images/Favicon.png" alt="Logo" class="footer-logo" />
                    </a>
                </div>
        
                <div class="footer-links">
                    <div class="footer-column">
                        <h4>Contenido</h4>
                        <ul>
                            <li><a href="../templates/index.html">Inicio</a></li>
                            <li><a href="../templates/tipos-de-energia.html">Tipos de energía</a></li>
                            <li><a href="../templates/dashboard.html">Dashboard</a></li>
                            <li><a href="../templates/calcula-consumo.html">Calculadora de energía</a></li>
                        </ul>
                    </div>
                    <div class="footer-column">
                        <h4>Creadores:</h4>
                        <ul>
                            <li>Sara Álvarez</li>
                            <li>Laura Valencia</li>
                            <li>Laura de la Hoz</li>
                            <li>Esteban Carvajal</li>
                        </ul>
                    </div>
                    <div class="footer-column">
                        <h4>Contáctanos:</h4>
                        <ul style="list-style: none; padding: 0;">
                            <li class="tooltip_footer">
                                Correos electrónicos
                                <span class="tooltip_footer-text">
                                    Esteban: esteban@email.com<br>
                                    Laura: laura@email.com<br>
                                    Laura D L H: laura.dlh@email.com<br>
                                    Sara: sara@email.com
                                </span>
                            </li>
                            <li class="tooltip_footer">
                                Número de contacto
                                <span class="tooltip_footer-text">
                                    Esteban: +57 300 123 4567<br>
                                    Laura: +57 301 234 5678<br>
                                    Laura de la H: +57 302 345 6789<br>
                                    Sara: +57 303 456 7890
                                </span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        
            <div class="footer-bottom">
                <div class="footer-text">
                    <p>2025, Company. All Rights Reserved.<br />
                        Este sitio web ha sido programado por estudiantes del programa Talento Tech, en la misión de cumplir 
                        con su proyecto final, sin fines comerciales.
                    </p>
                </div>
        
                <div class="footer-icons">
                    <a href="https://www.talentotech.gov.co/portal/#inicio" target="_blank">
                        <img src="../static/assets/icons/Talento-Tech-icon.png" alt="TalentoTech" />
                    </a>
                    <a href="https://youtu.be/wE0ovmvgCLI" target="_blank">
                        <img src="../static/assets/icons/youtube-icon1.png" alt="YouTube" />
                    </a>
                </div>
            </div>
        </footer>

        <!-- Fin del footer -->
        <script type="module" src="../static/js/funcionesTablaGlobal.js"></script>
    </div>

</body>

</html>