<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="author" content="grupo 5">
    <title>Energías Renovables En Colombia</title>
    <link rel="stylesheet" href="../static/css/styles.css">
    <link rel="icon" href="../static/assets/images/Favicon.png">
</head>
<body>
    <main>
        <p class="general paragraph" id="resultadoPorcentajeEnergiaRenovable">
            ResultadoPorcentajeEnergiaRenovable
        </p> 
        <select id="selectorPais">

        </select>
        <p class="general paragraph" id="cuadroDatosRenovables">
            cuadroDatosRenovables
        </p> 
        
    </main>
</body>
<script type="module" src="../js/funcionesTablaGlobal.js"></script>
</html>